body{
    font-family: Arial,  sans-serif;
}

.btns-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.container{
    margin-bottom: 20px;
}

#passwordForm input[type="password"]{
    width: 100%;
    padding: 2%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}