body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

input[type="email"]{
    width: 80%;
    padding: 2%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="email"]:focus{
    border: 2px solid red;
    outline: none;
}

input[type="submit"]{
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: red;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.container form{
    width: 60%;
    margin: 5% auto;
    padding: 5%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
}

.form-group{
    width: 100%;
}

.container img{
    width: 50%;
    margin: 5% auto;
    max-width: 300px;
}

@media screen and (max-width: 768px){
    .container form{
        width: 95%;
    }

    .container img{
        width: 80%;
    }

    .container input[type="submit"]{
        width: 40%;
    }

    input[type="email"]{
        width: 90%;
        padding: 3%;
    }

    input[type="submit"]{
        width: 40%;
        padding: 3%;
        font-size: 1.0em;
    }

    .container{
        margin-top: 10%;
        width: 100%;
    }
}