body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    margin: 20px auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 3%;
}

.grid-container {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container form .group {
    margin-bottom: 15px;
}

#passwordError {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.container form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container form input[type="submit"] {
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container form input[type="submit"]:hover {
    background-color: maroon;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

#passwordError {
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    #passwordError {
        margin-bottom: 15px;
    }
}
