<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cambia Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/change-password.css">
</head>
<body>
<div th:replace="navbar :: html"></div>

<div class="container mt-5">
    <h2>Cambia Password</h2>
    <form id="passwordForm" action="/users/user-details/change-password" method="post">
        <div class="form-group">
            <label for="currentPassword">Password Corrente</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
        </div>
        <div class="form-group">
            <label for="newPassword">Nuova Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
        </div>
        <div class="form-group">
            <label for="confirmNewPassword">Conferma Nuova Password</label>
            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
        </div>
        <div id="passwordError" class="alert alert-danger" style="display: none;">
            Le password non corrispondono
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <div class="btns-container">
            <button type="submit" class="btn btn-primary" style="background-color: red; border: none;">Cambia</button>
            <a href="/home" class="btn btn-primary" style="background-color: rgb(59, 59, 59); border: none;">Annulla</a>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
    let newPasswordInput = document.getElementById('newPassword');
    let confirmNewPasswordInput = document.getElementById('confirmNewPassword');
    let passwordError = document.getElementById('passwordError');

    function checkPasswords() {
        if (newPasswordInput.value !== confirmNewPasswordInput.value) {
            passwordError.style.display = 'block';
        } else {
            passwordError.style.display = 'none';
        }
    }

    newPasswordInput.addEventListener('input', checkPasswords);
    confirmNewPasswordInput.addEventListener('input', checkPasswords);

    document.getElementById('passwordForm').addEventListener('submit', function(event) {
        if (newPasswordInput.value !== confirmNewPasswordInput.value) {
            event.preventDefault();
        }
    });
</script>
<div th:replace="footer :: html"></div>
</body>
</html>

