<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verifica Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/email-notification.css">
</head>
<body>
<div th:replace="navbar :: html"></div>
<div class="container">
    <div class="grid-container">
        <div class="msg-container">
            <h2>Verifica Email</h2><br>
            <p>Abbiamo inviato un'email di verifica all'tuo indirizzo email. Controlla la tua casella di posta elettronica e clicca sul link per confermare il tuo account.</p>
        </div>
        <div class="img-container">
            <img src="https://page-imgs.s3.eu-north-1.amazonaws.com/verifica-email.png" alt="photo">
        </div>
    </div>
    <div class="wrn-msg">
        <div class="alert alert-warning" role="alert">
            <strong>Attenzione!</strong> Se non hai ricevuto l'email di verifica, controlla la cartella spam.
        </div>
    </div>
</div>
<div th:replace="footer :: html"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script></body>
</html>