<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione prenotazioni</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/manage-book.css">
</head>
<body>
<div th:replace="navbar :: html"></div>
<div class="container" style="margin: 15px auto 15px auto;">
    <div id="noPassengerMessage" class="row mt-3" th:if="${bikers.isEmpty()}" style="text-align: center;">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                Non ci sono prenotazioni da parte di passeggeri!
            </div>
            <div style="display: flex; justify-content: center;">
                <img src="https://page-imgs.s3.eu-north-1.amazonaws.com/manage-book.png" alt="biker" style="width: 100%; max-width: 400px; height: auto;">
            </div>
            <a href="/home" class="btn btn-primary mt-3" style="background-color: red; border: none;">Torna alla Home</a>
        </div>
    </div>
    <h2 th:if="${!#lists.isEmpty(bikers)}">I tuoi passeggeri</h2>
    <div class="row">
        <div th:each="biker : ${bikers}" class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="img-container">
                        <img src="https://page-imgs.s3.eu-north-1.amazonaws.com/passenger-request.png" alt="photo">
                    </div>
                    <h5 class="card-title" th:text="${biker.passenger.user.firstName} + ' ' + ${biker.passenger.user.lastName}"></h5>
                    <strong>Data di nascita: </strong> <span class="card-subtitle mb-2 text-muted" th:text="${biker.passenger.user.getDateBirthFormatted()}"></span><br>
                    <strong>Email: </strong> <span class="card-subtitle mb-2 text-muted" th:text="${biker.passenger.user.email}"></span>


                    <p class="card-text">
                        <br><strong class="text-primary">Dettagli del viaggio</strong>
                    <ul class="list-unstyled">
                        <li><strong>Partenza da: </strong> <span th:text="${biker.trip.departurePlace}"></span></li>
                        <li><strong>Arrivo a: </strong> <span th:text="${biker.trip.arrivalPlace}"></span></li>
                        <li><strong>Data: </strong> <span th:text="${biker.trip.getDepartureTimeFormatted()}"></span></li>

                    </ul>
                    <a th:if="${!biker.passenger.accept}" th:href="@{/acceptBooking/{id}(id=${biker.passenger.id})}" class="btn btn-success">Accetta</a>
                    <a th:if="${!biker.passenger.accept}" th:href="@{/rejectBooking/{id}(id=${biker.passenger.id})}" class="btn btn-danger" style="background-color: red;">Rifiuta</a><br>
                    <a th:if="${biker.passenger.accept && biker.trip.state.getLabel() != 'FINISHED'}" th:href="@{/users/user-details/manage-book/chat/{passengerId}(passengerId=${biker.passenger.id})}" class="btn btn-primary" style="background-color: red; border: none; margin-top: 10px;">Apri chat</a>                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px;"></div>
<div th:replace="footer :: html"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>