<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-password.css">
    <title>Reset password</title>
</head>
<body>
<div th:replace="navbar :: html"></div>

<div class="container">
    <h2>Reset della password</h2>
    <div class="grid-container">
        <div class="img-container">
            <img src="https://page-imgs.s3.eu-north-1.amazonaws.com/reset-password.png" alt="img">
        </div>
        <form id="resetPasswordForm" th:action="@{/reset-password}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" name="token" th:value="${token}"/>
            <div class="group">
                <label for="password">Nuova password: </label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="group">
                <label for="confirmPassword">Conferma nuova password: </label>
                <input type="password" id="confirmPassword" required>
            </div>
            <div id="passwordError"  style="display: none;">
                Le password non corrispondono
            </div>
            <input type="submit" value="Reset">
        </form>
    </div>

</div>
<script>
    let passwordInput = document.getElementById('password');
    let confirmPasswordInput = document.getElementById('confirmPassword');
    let passwordError = document.getElementById('passwordError');

    function checkPasswords() {
        if (passwordInput.value !== confirmPasswordInput.value) {
            passwordError.style.display = 'block';
        } else {
            passwordError.style.display = 'none';
        }
    }

    passwordInput.addEventListener('input', checkPasswords);
    confirmPasswordInput.addEventListener('input', checkPasswords);

    document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
        if (passwordInput.value !== confirmPasswordInput.value) {
            event.preventDefault();
        }
    });
</script>
<div th:replace="footer :: html"></div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</html>