<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trip Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="navbar :: html"></div>

<div class="container mt-5" style="margin: 10px auto 10px auto;">
    <h2>Dettagli del viaggio</h2>
    <div class="row">
        <div class="col-sm-12">
            <h6>Partenza: <span th:text="${trip.departurePlace}"></span></h6>
        </div>
        <div class="col-sm-12">
            <h6>Arrivo: <span th:text="${trip.arrivalPlace}"></span></h6>
        </div>
        <div class="col-sm-12">
            <h6>Data di partenza: <span th:text="${trip.departureTimeFormatted}"></span></h6>
        </div>
        <div class="col-sm-12">
            <p>Stato: <span th:text="${trip.state.getLabelToShow()}" style="font-style: italic"></span></p>
        </div>
        <div class="col-sm-12">
            <p><strong>Note: </strong><span th:text="${trip.note}"></span></p>
        </div>
    </div>
    <h3>Biker partecipanti</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Moto</th>
                <th>Consente passeggero</th>
                <th>Passeggero</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="biker : ${bikers}">
                <td th:text="${biker.user.firstName}"></td>
                <td th:text="${biker.user.lastName}"></td>
                <td th:text="${biker.motorcycle}"></td>
                <td th:text="${biker.allowPassenger ? 'Sì' : 'No'}"></td>
                <td th:if="${biker.passenger != null}"
                    th:text="${biker.passenger.user.firstName + ' ' + biker.passenger.user.lastName}">Nessun passeggero
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between">
        <form id="deleteForm" th:action="@{/users/cancel-trip}" method="post" th:disabled="${trip.state.getLabel() != 'PLANNED'}">
            <input type="hidden" th:value="${trip.id}" name="id">
            <button type="submit" class="btn btn-primary" th:if="${trip.state.getLabel() == 'PLANNED'}" style="background-color: red; border: none;">Annulla</button>
        </form>
        <form id="deleteFormAdmin" th:action="@{/users/cancel-trip-admin}" method="post">
            <input type="hidden" th:value="${trip.id}" name="id">
            <button type="submit" class="btn btn-danger" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Delete</button>
        </form>
    </div>
    <div id="loadingMessage" style="display: none; color:red; font-weight: bold">
        <p>Solo un momento...</p>
    </div>
</div>
<script>
    document.getElementById('deleteFormAdmin').addEventListener('submit', function(event) {
        var confirmation = confirm("Stai per eliminare il viaggio!");
        if (!confirmation) {
            event.preventDefault();
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<div th:replace="footer :: html"></div>
</body>
</html>
